@font-face {
  font-family: 'Poppins-B'; 
  src: url('../fonts/Poppins-Bold.ttf') format('truetype'); 
}
@font-face {
  font-family: 'Poppins-M'; 
  src: url('../fonts/Poppins-Medium.ttf') format('truetype'); 
}
@font-face {
  font-family: 'Poppins-R'; 
  src: url('../fonts/Poppins-Regular.ttf') format('truetype'); 
}
@font-face {
  font-family: 'Poppins-L'; 
  src: url('../fonts/Poppins-Light.ttf') format('truetype'); 
}
@font-face {
  font-family: 'Blade'; 
  src: url('../fonts/Blade.ttf') format('truetype'); 
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('../Img/background.jpg') no-repeat center center fixed;
    background-size: cover;
    background-color: #191919;
    color: #fff;;
  }

  /* Nav Bar */
  .navbar {
    background-color: rgba(0, 0, 0, 0.471);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .bcuoa-logo img {
    height: 40px;
    width: auto;
    display: block;
    padding: 0;
  }

  .navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 14px;
    position: relative;
    display: inline-block;
    padding: 8px 0;
  }

  .navbar a::after {
    content: '';
    position: absolute;
    bottom: -5px; /* Botton Padding */
    left: 50%;
    right: 50%;
    height: 3px; /* Underline thickness */
    background: linear-gradient(to right, rgb(184, 7, 57) 30%, rgb(13, 54, 168) 70% ); /* Colors */
    border-radius: 10px; /* Edge rounding */
    transition: left 0.4s ease, right 0.4s ease; /* Time */
  }

  .navbar a.active::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 3px;
    background: linear-gradient(to right, rgb(184, 7, 57) 40%, rgb(13, 54, 168) 60% );
    border-radius: 10px;
  }

  .navbar a:hover::after {
    left: 0;
    right: 0;
  }

  /* spacing */
  .space1 {
    width: 1em; 
    display: inline-block; 
  }
  
  .space2 {
    width: 2em; 
    display: inline-block; 
  }
  
  .space3 {
    width: 3em; 
    display: inline-block; 
  }

  .space4 {
    width: 4em; 
    display: inline-block; 
  }
  
  .space5 {
    width: 5em; 
    display: inline-block; 
  }

  /* Owl carousel */
  .owl-carousel .item {
    background: #4a90e2;
    padding: 20px;
    margin: 5px;
    color: #fff;
    text-align: center;
    border-radius: 10px;
  }
  .owl-nav button {
    background-color: #000;
    color: #fff;
    border-radius: 50%;
  }
  
  /* Footer */
  footer {
    background-color: #121212;
    color: white;
    padding: 20px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: relative;
  }
  
  .footer-section {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .footer-section.logo {
    flex: 1;
    text-align: center;
    margin-right: auto;
  }
  
  .footer-section.logo h1 {
    font-size: 36px;
    font-weight: bold;
    font-family: 'Poppins-B', sans-serif; 
    position: relative;
    top: -10%;
  }
  
  .footer-section.contact p,
  .footer-section.contact a {
    font-family: 'Poppins-L', sans-serif; 
    align-items: center;
    margin: 10px 0;
  }
  
  .footer-section.contact a {
    text-decoration: none;
    color: white;
  }
  
  .footer-section.contact a:hover {
    text-decoration: underline;
  }
  
  .footer-section h3 {
    font-family: 'Poppins-R', sans-serif; 
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    font-family: 'Poppins-L', sans-serif; 
    list-style: none;
    padding-left: 20px;
  }
  
  .footer-section ul li a {
    color: white;
    text-decoration: none;
    display: block;
    margin: 5px 0;
  }
  
  .footer-section ul li a:hover {
    text-decoration: underline;
  }
  
  .footer-divider {
    border: none;
    height: 1px;
    background-color: white;
    width: 80%;
    margin: 20px auto;
  }
  
  .copyright {
    text-align: center;
    font-size: 14px;
  }
  
  .footer-container .social-icons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
    padding-left: 20px;
  }
  
  .footer-container .social-icons a {
     color: white;
    font-size: 20px;
  }
  
  .footer-container .social-icons a.facebook:hover {
    color: #4267B2;
  }
  
  .footer-container .social-icons a.instagram:hover {
    color: #dc2764;
  }
  
  .footer-container .social-icons a.whatsapp:hover {
    color: #25D366;
  }
  
  .footer-container .social-icons a.twitter:hover {
    color: #1DA1F2;
  }
  
  .footer-container .social-icons a:hover {
    filter: brightness(1.2);
  }

  /* Welcome */
  
  .welcome-section {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Spacing between text and image */
    height: 100vh; /* Viewport height */
    color: white;
    margin-top: -60px; /* Height adjustments */
  }

  .welcome-text {
    flex: 1;
    padding-left: 5%; /* Text padding */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertical center */
  }

  .welcome-text h1 {
    font-family: 'Poppins-B', sans-serif; 
    font-size: 9vw; /* Header BCUOA */
    margin: 0;
  }

  .welcome-text p {
    font-family: 'Poppins-R', sans-serif; 
    font-size: 2vw; /* Sub text */
    margin: 0;
  }

  .image-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; /* Vertical center */
    height: 100%;
    padding-right: 5%;
  }

  /* Konva Im Panels */
    
  #konva-container {
    float: right;
    margin: 0;
    width: calc(100% - 40px); /* Width calculation */
    max-width: 100%; /* Width */
    height: auto;
  }

  /* Gallery text */
  .gallery-text h2 {
    padding-left: 5%; 
    font-size: 42px;
    margin-bottom: 15px;
    font-family: 'Poppins-R', sans-serif; 
  }

  /* About */
  .about-text h2 {
    padding-left: 5%; 
    font-size: 42px;
    margin-top: 80px;
    margin-bottom: 15px;
    font-family: 'Poppins-R', sans-serif;
  }

  .about-text p {
    padding-left: 10%; 
    padding-right: 10%; 
    text-align: justify;
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 40px;
    font-family: 'Poppins-M', sans-serif; 
  }

  .about-logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0px;
    padding-bottom: 20px;
    margin-bottom: 0;
    align-items: center;
    width: 300px;
    height: auto;
  }